<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo513AYSjnzo--w_uvRmQlnxa6r7RgIc8</string>
	<key>GCM_SENDER_ID</key>
	<string>159105612270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runningApp</string>
	<key>PROJECT_ID</key>
	<string>run-app-a881b</string>
	<key>STORAGE_BUCKET</key>
	<string>run-app-a881b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159105612270:ios:8f16c52826637fa7e9f6ff</string>
</dict>
</plist>